/* common style code area */
.btn-style{
    font: 20px;
    text-align: center;
    border-radius: 5px;
    background: #Ff0000;
    color: white;
    border: none;
    padding: 10px 25px 10px 25px;
}

/* header section style start */
.simple-header{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/Banner Image.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 35px auto 90px auto;
    border-radius: 15px;
}
.simple-header-div{
    color: white;
    font-family: 'Merriweather', serif;
    padding: 90px 340px;
    margin-bottom: 0px;
}
.simple-header-div > p{
    
    color: white;
    font-size: 30px;
    font-weight:300;
    position: absolute;
    margin: 80px auto 0px 190px;
}
.simple-header-div > h1{
    width: 630px;
    font-size: 75px;
    font-weight: 800;
    margin: 140px auto auto auto;
    text-align: center;
}
/* header section style end */

/* main area style start */
main{
    width: 1320px;
    margin: 0px auto;
}
.section-one-discount-div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.section-one-discount-div > h2{
    color: #ff0000;
    font-size: 85px;
    font-weight: 700;
    padding: 25px 0px 0px 0px ;
    margin-bottom: 0px;

}
.section-one-discount-div > p{
    color: #Ff0000;
    font-size: 25px;
    font-weight: 600;
    padding-top: 10px;
    margin: 40px 0px 20px 0px;
}
.section-one-discount-div > h3{
    font-size: 50px;
    font-weight: 700;
    margin-top: 5px;
}
.section-one-discount-div > img{
    padding-bottom: 100px;
}
/* main area section one style end */

/* main area section two style start*/
.section-two{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 0px auto;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-two-textarea > h2{
    width: 640px;
    font-size: 60px;
    margin-bottom: 0px;
    font-family: monospace;
    letter-spacing: 5px;
}
.section-two-para{
    width: 700px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(250, 250, 250, 0.80);;
    padding: 10px 0px;
}
/* main area section two style end */

/* section three style start*/
.section-three{
    width: 1320px;
    height: 440px;
    margin: 0px auto;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-top: 100px;
    border-radius: 5px;
}
.section-three > button{
    display: block;
    margin: 0px auto 80px auto;
}
.section-three > p{
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 150px 150px 0px 150px;
    line-height: 50px;
}
.section-three span{
    color: #Ff0000;
}
/* section three area style end */

/* section four style start */
.section-four{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.section-four-div1{
    padding-right: 60px ;
}
.section-four-div1 > h3{
    font-size: 20px;
    font-weight: 700;
    color: #ff0000;
}
.section-four-div1 > h2{
    font-size: 45px;
    font-weight: 700;
    margin: 10px 0px 0px 0px ;
}
.section-four-div1 > p{
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0px 0px 0px;
    color: #07021193;
}
.section-four-div2 > img{
    margin-left:-120px ;
    border: #Ff0000 10px solid;
    border-radius: 50%;
    padding: 25px;
}
.section-four-div3{
    
}
.section-four-div3 > h3{
    font-size: 45px;
    font-weight: 700;
    color: #Ff0000;
    margin-bottom: 0px;
}
.section-four-div3 > p{
    font-size: 20px;
    font-weight: 400;
    color: #07021193;
}
.section-four-div3 > img{

}
/* section four style end */

/* section five style start*/
.section-five{
    margin: 100px auto;
    font-family:'Times New Roman', Times, serif;
}
.section-five > h4{
    text-align: center;
    font: 35px;
    font-weight: 700;
    margin-bottom: 0px;
}
.section-five > h2{
    text-align: center;
    font-size: 70px;
    font-weight: 800;
    margin-top:15px;
    margin-bottom: 0px;
}
.section-five span{
    color: #Ff0000;
}
.section-five > p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
    color: #070211a9;
}
/* section five style end */

/* section six style start*/
.section-six{
    padding-top: 100px;
}
.section-six > h3{
    color: #Ff0000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.section-six > h2{
    font-size: 45px;
    font-weight: 700;
    font-family:monospace;
    margin-top: 10px;
    margin-bottom: 0px;
}
.section-six > p{
    font-size: 20px;
    font-weight: 400;
    color: #070211b2;
    margin-top: 10px;
}
.gift-box{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    margin-top: 70px;
}
.gift-box img{
    transition: 0.5s;
}
.gift-box img:hover{
    transform: scale(1.1)
}
/* section six style end */

/* section seven style start*/
.section-seven{
    text-align: center;
    border-radius: 15px;
    background: rgba(255, 0, 0, 0.05);
    padding: 100px 200px;
    margin-top: 90px;
}
.section-seven > h2{
    font-size: 45px;
    font-weight: 900;
    font-family: monospace;
    margin-top: 35px;
    margin-bottom: 0px;
}
.section-seven > p{
    color: rgba(0, 0, 0, 0.603);
    font-size: 20px ;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;
}
.button-style{
    margin-top: 30px;
}
.email-btn{
    color: #070211e7;
    border: none;
    margin-top: 30px;
    margin-right: 0px;
    padding:20px 150px 20px 25px;
    border-radius: 40px 0px 0px 40px;
}
.submit-btn{
    background-color: #Ff0000;
    padding: 20px 50px;
    margin-left: -5px;
    border: none;
    border-radius: 0px 40px 40px 0px ;
    color: white;
}
/* section seven style end */

/* footer area  */
footer{
    background: #070211;
    color: white;
}
.footer-section{
    max-width: 1320px;
    margin: 100px auto 0px auto;
    /* padding: 55px; */
    background: #070211;
}
.div-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    border-bottom: rgba(255, 255, 255, 0.15) 1px solid;
}
.div-one > p{
    font-size: 20px;
    font-weight: 400px ;
    line-height: 30px;
}

.footer-contact p {
    display: flex;
    align-items: center;
    padding-right: 150px;
}
.footer-contact p img{
    margin-right: 10px;
}
.div-two{
    text-align: center;
    padding: 50px 0px;
    border-bottom:rgba(255, 255, 255, 0.15) 1px solid;
}
.div-two img{
    margin-left: 20px;;
}
.div-three{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    padding: 40px 0px 40px 0px ;
}
/* Thank You */